﻿@model IEnumerable<Assignment_1.Models.Comment>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comment1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ProfileInformation.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProfileInformation.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.comment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.comment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.comment_id })
        </td>
    </tr>
}

</table>
