﻿@model Assignment_1.Models.Picture

@{
    ViewBag.Title = "Delete";
}

<div>
    <h2>Delete</h2>
</div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Caption")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caption)
        </dd>

        <dt>
            @Html.DisplayName("Relative Path")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relative_path)
        </dd>

        <dt>
            @Html.DisplayName("Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayName("Profile Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileInformation.name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Profile", "Index", new { id = ViewBag.id })
        </div>
    }
</div>
