﻿@model IEnumerable<Assignment_1.Models.ProfileInformation>

<br />

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ProfileSearch", Model)

<div style="display:grid;grid-template-columns:auto">
    <div>
        @Html.Partial("ProfileDetail", Model.FirstOrDefault(p => p.profile_id == ViewBag.profile_id))
    </div>

    <br />

    <div>
        <p>
            @Html.Partial("PictureList", Model.FirstOrDefault(p => p.profile_id == ViewBag.profile_id).Pictures.Where(p => p.picture_id != ViewBag.profile_picture_id))

            @Html.ActionLink("Add New Picture", "Create", new { id = ViewBag.profile_id, tag = "general" })
        </p>
    </div>
</div>



<!--Html.ActionLink("Log Out", "Logout", "Login", null, null)-->
