﻿@model IEnumerable<Assignment_1.Models.ProfileInformation>

<br />

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ProfileSearch", Model)

<div style="position:absolute;">
    <div style="margin-bottom:360px;">
        @Html.Partial("OtherProfileDetail", Model.FirstOrDefault(p => p.profile_id == ViewBag.profile_id))
    </div>

    @Html.Partial("OtherPictureList", Model.FirstOrDefault(p => p.profile_id == ViewBag.profile_id).Pictures.Where(p => p.picture_id != ViewBag.profile_picture_id))

    <br />
    <br />
</div>
