﻿@model IEnumerable<Assignment_1.Models.Picture>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Image")
        </th>
        <th>
            @Html.DisplayName("Caption")
        </th>
        <th>
            @Html.DisplayName("Relative Path")
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>
        <th>
            @Html.DisplayName("Profile")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Pictures/@Html.DisplayFor(modelItem => item.relative_path)" height="100" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.relative_path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileInformation.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.picture_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.picture_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.picture_id })
            </td>
        </tr>
    }

</table>
