﻿@model Assignment_1.Models.ProfileInformation

<div>
    <div style="float:left">
        <div>
            <h4>ProfileInformation</h4>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayName("User Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user_name)
            </dd>

            <dt>
                @Html.DisplayName("Website")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.website)
            </dd>

            <dt>
                @Html.DisplayName("Biography")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.biography)
            </dd>

            <dt>
                @Html.DisplayName("Email Address")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email_address)
            </dd>

            <dt>
                @Html.DisplayName("Phone Number")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone_number)
            </dd>

            <dt>
                @Html.DisplayName("Gender")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender.gender_name)
            </dd>
        </dl>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <p>
            @Html.ActionLink("Edit Profile Information", "Edit", "Profile", new { id = Model.profile_id }, null)
        </p>
    </div>

    <div style="float:right">

        <br />

        <div>
            @if (Model.profile_picture == null || Model.profile_picture == 0)
            {
                <img src="~/Pictures/no_profile.jpg" width="300" height="300" />
            }
            else
            {
                <img src="~/Pictures/@Model.Pictures.Where(p => p.picture_id == ViewBag.profile_picture_id).FirstOrDefault().relative_path"
                     width="300" height="300" />
            }
        </div>

        <br />

        <div>
            <div style="float:right">
                <p>
                    @Html.ActionLink("Select Profile Picture", "Create", new { id = Model.profile_id, tag = "profile" })
                </p>
            </div>
            <div style="float:left">
                <p>
                    @Html.ActionLink("Remove Profile Picture", "Remove", new { id = Model.profile_id })
                </p>
            </div>
        </div>
    </div>
</div>
