﻿@model IEnumerable<Assignment_1.Models.ProfileInformation>

@{
    ViewBag.Title = "ProfileSearch";
}

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="search" id="search" placeholder="Search profile..." class="form-control" />
        </div>
    </div>
</div>

<div style="height:330px;width:750px;overflow:auto;position:absolute;z-index:1">
    <table class="table" id="search_table" style="background-color:#ffffff">

        @foreach (var item in Model)
        {
            <tr class="Search">
                <td>
                    @if (item.profile_picture == null || item.profile_picture == 0)
                    {
                        <img src="~/Pictures/no_profile.jpg" width="100" height="100" />
                    }
                    else
                    {
                        var x = item.Pictures.FirstOrDefault(p => p.picture_id == item.profile_picture).relative_path;
                        <img src="~/Pictures/@Html.DisplayFor(modelItem => x)" height="100" width="100" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.ActionLink("Visit Profile", "OtherProfile", new { id = item.profile_id }) <br />
                    @Html.ActionLink("Message", "SendMessage", new { id = item.profile_id }) <br />
                    @Html.ActionLink("Follow", "SendFriendRequest",  new { id = item.profile_id }) <br />

                </td>
            </tr>
        }

    </table>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        $("#search_table").hide();

        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true;
            }
        }
        $("#search").keyup(function () {
            var searchText = $("#search").val().toLowerCase();
            $(".Search").each(function () {
                //$("#x").text($("#search").val().toLowerCase());
                if (!Contains($(this.children.item(1)).text().toLowerCase(), searchText)) {
                    $("#search_table").show();
                    $(this).hide();
                }
                else if ($("#search").val().toLowerCase() == "") {
                    $("#search_table").hide();
                }
                else {
                    $("#search_table").show();
                    $(this).show();
                }
            });
        });
    });

</script>
