﻿@model IEnumerable<Assignment_1.Models.ProfileInformation>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ProfileSearch", Model)

<div style="margin-bottom:350px;">
    @Html.Partial("ProfileDetail", Model.FirstOrDefault(p => p.profile_id == ViewBag.profile_id))
</div>

<div>
    <p>
        @Html.ActionLink("Add New Picture", "Create", new { id = ViewBag.profile_id, tag = "general" })
    </p>
</div>

@Html.Partial("PictureList", Model.FirstOrDefault(p => p.profile_id == ViewBag.profile_id).Pictures.Where(p => p.picture_id != ViewBag.profile_picture_id))

@Html.Partial("MessageList", Model.FirstOrDefault(p => p.profile_id == ViewBag.profile_id).Messages.Where(p => p.receiver == ViewBag.id))

@Html.ActionLink("Read Messages", "Index", "Message", new { id = ViewBag.profile_id }, null)

@Html.ActionLink("Log Out", "Logout", "Login", null, null)

