﻿@model Assignment_1.Models.ProfileInformation

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.profile_id })
</p>

@Html.Partial("MessageList", Model.Messages1)

<p>
    @Html.ActionLink("Back to Profiles", "Index", "Home", new { id = Model.profile_id }, null)
</p>

