﻿@model IEnumerable<Assignment_1.Models.Message>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.message1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileInformation.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileInformation1.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.message1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileInformation.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileInformation1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sender }) |
            @Html.ActionLink("Details", "Details", new { id=item.sender }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sender })
        </td>
    </tr>
}

</table>
