﻿@model Assignment_1.Models.Picture

@{
    ViewBag.Title = "Create";
}

<div>
    <h2>Create</h2>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <form action="" method="post" enctype="multipart/form-data">
            <label for="picture">Select a picture to upload</label>
            <input type="file" name="picture" id="picture" /><br />
            <label for="caption">Caption:</label><input type="text" name="caption" id="caption" /><br />
            <label for="location">Location:</label><input type="text" name="location" id="location" /><br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="action" value="Upload" />
                </div>
            </div>
        </form>
        @Html.ValidationMessageFor(model => model.relative_path, "", new { @class = "text-danger" })
    </div>
</div>

<br />

<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.id })
</div>
