﻿@model Assignment_1.Models.Picture

@{
    ViewBag.Title = "Details";
}

    <div>
        <h2>Details</h2>
    </div>
<div>
    <h4>Picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Caption")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caption)
        </dd>

        <dt>
            @Html.DisplayName("Relative Path")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relative_path)
        </dd>

        <dt>
            @Html.DisplayName("Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayName("Profile")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileInformation.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.id })
</p>
