﻿@model Assignment_1.Models.ProfileInformation

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ProfileDetail", Model)

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.profile_id })
</p>

@Html.Partial("PictureList", Model.Pictures)

<p>
    @Html.ActionLink("Back to List", "Index", "Home", null, null)
</p>
