﻿@model Assignment_1.Models.ProfileInformation

<div>
    <div>
        <h4>ProfileInformation</h4>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayName("User Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayName("Website")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website)
        </dd>

        <dt>
            @Html.DisplayName("Biography")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biography)
        </dd>

        <dt>
            @Html.DisplayName("Email Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_address)
        </dd>

        <dt>
            @Html.DisplayName("Phone Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayName("Gender")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayName("Profile Picture")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile_picture)
        </dd>

    </dl>
</div>
