﻿@model Assignment_1.Models.AddressInformation

@{
    ViewBag.Title = "Delete";
}

    <div>
        <h2>Delete</h2>
    </div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AddressInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayName("Street Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street_address)
        </dd>

        <dt>
            @Html.DisplayName("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayName("Province")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

        <dt>
            @Html.DisplayName("Zip Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip_code)
        </dd>

        <dt>
            @Html.DisplayName("Country Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.country_code)
        </dd>

        <dt>
            @Html.DisplayName("Profile Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileInformation.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = ViewBag.id })
        </div>
    }
</div>
