﻿@model Assignment_1.Models.AddressInformation

@{
    ViewBag.Title = "Details";
}

    <div>
        <h2>Details</h2>
    </div>

<div>
    <h4>AddressInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayName("Street Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street_address)
        </dd>

        <dt>
            @Html.DisplayName("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayName("Province")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

        <dt>
            @Html.DisplayName("Zip Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip_code)
        </dd>

        <dt>
            @Html.DisplayName("Country Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.country_code)
        </dd>

        <dt>
            @Html.DisplayName("Profile Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileInformation.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.id }) |
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.id })

</p>
