﻿@model Assignment_1.Models.ProfileInformation

@{
    ViewBag.Title = "Index";
}

@Html.Partial("ProfileDetail", Model)

<p>
    @Html.ActionLink("Create Address", "Create", new { id = Model.profile_id}) |
</p>

@Html.Partial("AddressList", Model.AddressInformations)

<p>
    @Html.ActionLink("Back to Profiles", "Index", "Home", null, null)
</p>

